.auth-container {
    opacity: 0;
    transform: translateY(-700px);
    transition: opacity 0.3s ease, transform .5s ease;
}
  
.auth-container.active {
    opacity: 1;
    transform: translateY(0);
}

.authbutton {
    transform: translateX(350px);
    transition: opacity 0.5s ease, transform .8s ease;
}

.authbutton.active {
    transform: translateX(-350px);
}

  